body {
    background-color: #eff2f5;
    font-style: normal;
    visibility: visible;
}

a, button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
}

a, i, button, img, input, span,
*:before, *:after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

*:focus {
    outline: none !important;
}

a:focus {
    color: inherit;
    outline: medium none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.fix {
    overflow: hidden;
}

.clear {
    clear: both;
}

.section {
    float: left;
    width: 100%;
}

/*-- Container Width For Mobile Device --*/
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 450px;
    }
}

@media only screen and (max-width: 479px) {
    .container {
        width: 300px;
    }
}

/*----------------------------------------*/
/*  2.  Header Section
/*----------------------------------------*/
.header-section {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
}

/*-- Header bottom --*/
.header-bottom {
    background-color: #ffffff;
}

/*-- Header Stick --*/
.stick {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .stick .header-bottom-wrapper {
        text-align: right !important;
    }
}

.stick .header-bottom-wrapper .main-menu {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    float: none;
    vertical-align: middle;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .stick .header-bottom-wrapper .main-menu {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .stick .header-bottom-wrapper .main-menu {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .stick .header-bottom-wrapper .main-menu > ul > li {
        margin-right: 25px;
    }

    .stick .header-bottom-wrapper .main-menu > ul > li:last-child {
        margin-right: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .stick .header-bottom-wrapper .main-menu > ul > li > a {
        font-size: 13px;
    }
}

.stick .header-bottom-wrapper .mean-bar .meanmenu-reveal {
    right: 0 !important;
    left: auto !important;
}

/*-- Main Menu --*/
.main-menu {
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 767px) {
    .main-menu {
        display: none !important;
    }
}

.main-menu > ul > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-right: 44px;
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-menu > ul > li {
        margin-right: 30px;
    }
}

.main-menu > ul > li:last-child {
    margin-right: 0;
}

.main-menu > ul > li > a {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #7d7d7d;
    font-weight: 700;
    line-height: 30px;
    padding: 25px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-menu > ul > li > a {
        font-size: 13px;
    }
}

.main-menu > ul > li:hover a, .main-menu > ul > li.active a {
    color: #e11515;
}
